<h2> Cartes disponibles : </h2>

<p style="font-size:20px"> Veuillez choisir la carte que vous préférez, puis appuyez sur le bouton Enregistrer :</p>

<ul class="maps">
    <li *ngFor="let mapName of maps" [class.selected]="mapName === selectedMap" (click)="onSelect(mapName)">
        <span class="badge"> # </span> {{mapName}}
    </li>
</ul>


<div *ngIf="selectedMap">
    <h2> Vous avez choisi : {{selectedMap | uppercase}}</h2>
</div>

<button (click)="save()">Enregistrer</button>

<table>
    <tr>
        <td> Cartes</td>
        <td> Votes</td>
    </tr>
    <tr>
        <!--ici sera le résultat du vote -->
        <td> </td>
        <td> </td>
    </tr>

</table>